@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
input {
    outline: none;
}

.lang-div {
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
}

.custom-scroll {
    &::-webkit-scrollbar {
        background-color: #323233;
        width: 7px;
        border-radius: 14px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ABABAB;
        border-radius: 14px;
        height: 40px !important;
    }

}