@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
input {
    outline: none;
}

.lang-div {
    border-left: 1px solid #898989;
    border-right: 1px solid #898989;
}

.custom-scroll {
    &::-webkit-scrollbar {
        background-color: #323233;
        width: 7px;
        border-radius: 14px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ABABAB;
        border-radius: 14px;
        height: 40px !important;
    }

}

.active-tab {
    color: #22B5DC;
    border-bottom: #22B5DC 2px solid;
    padding-bottom: 6px;
    opacity: 1 !important;
}

.def-input {
    border: 1px solid #D6D5D5;
    padding: 11px 16px;
    border-radius: 4px;
    &::placeholder {
        color: black;
    }
}
.anti-scroll {
    &::-webkit-scrollbar {
        background-color: #323233;
        width: 7px;
        border-radius: 14px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ABABAB;
        border-radius: 14px;
        height: 40px !important;
    }
}

table th {
    text-align: start;
    color: #828282;
    font-size: 14px !important;
    font-weight: 400;
}